<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dynamic Segment View Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-label> Normal </ion-label>
    <ion-segment>
      <ion-segment-button value="first" content-id="first">
        <ion-label>First</ion-label>
      </ion-segment-button>
      <ion-segment-button value="second" content-id="second">
        <ion-label>Second</ion-label>
      </ion-segment-button>
      <ion-segment-button value="third" content-id="third">
        <ion-label>Third</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment-view>
      <ion-segment-content id="first">First</ion-segment-content>
      <ion-segment-content id="second">Second</ion-segment-content>
      <ion-segment-content id="third">Third</ion-segment-content>
    </ion-segment-view>

    <ion-label> Dynamic Test A </ion-label>

    <ion-segment>
      @for (segment of segments(); track $index) {
        <ion-segment-button [value]="segment" [content-id]="segment">
          <ion-label>{{segment}}</ion-label>
        </ion-segment-button>
      }
    </ion-segment>

    <ion-segment-view>
      @for (segment of segments(); track $index) {
        <ion-segment-content [id]="segment">{{segment}}</ion-segment-content>
      }
    </ion-segment-view>

    <ion-label> Dynamic Test B (try to use setContent() method) </ion-label>

    <ion-segment scrollable mode="md" [(ngModel)]="currentSegment" (ionChange)="segmentChanged()">
      @for (segment of segments(); track $index) {
        <ion-segment-button [value]="segment">
          <ion-label>{{segment}}</ion-label>
        </ion-segment-button>
      }
    </ion-segment>

    <ion-segment-view>
      @for (segment of segments(); track $index) {
        <ion-segment-content [id]="segment">{{segment}}</ion-segment-content>
      }
    </ion-segment-view>
  </ion-grid>

</ion-content>
